.user-list,
.chat-section {
    height: 100vh;
    overflow: scroll;
}
.user-list li {
    list-style: none;
}
.message-input-box{
    display: flex;
    gap: 2px;
    margin: 3px;
}
.message-input-box input {
   border:1px solid;
   border-radius: 1;
}
.message-input-box span {
    display: flex;
}
